<!--
  ~ "Licensed to the Apache Software Foundation (ASF) under one or more contributor license agreements; and to You under the Apache License, Version 2.0. "
  -->

<md-dialog aria-label="Mango (Fruit)" ng-cloak class="myDialogClass">
  <form myenterkey="open()" ng-focus="true">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Open example file...</h2>
        <span flex></span>
      </div>
    </md-toolbar>    
    <md-dialog-content>
      <div class="md-dialog-content" layout-align="center center">
        <h4>Pick one of the examples</h4>
		<md-select ng-model="exampleSelected">
			<md-option ng-repeat="availableExample in availableExamples" value="{{availableExample.fileName}}">
            	{{availableExample.fileName}}
			</md-option>
        </md-select>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center center">
      <md-button ng-click="open()" class="commonButton openExampleButton md-raised md-primary">Open</md-button>
      <md-button ng-click="cancel()" class="commonButton md-raised md-primary">Cancel</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>