## Operation identifier
#set($operationId        = ${outputLanguageOperations.getOperationId(${pathValue}, ${pathOperation})})
##
##
## Return type
#set($returnType         = ${outputLanguageItems.getOutboundServerItemType(${pathValue}, ${pathOperation})})
#set($returnTypeField    = ${outputLanguageItems.getFullTypeOutput($returnType.item)})
##
##
## Output parameters
#set($outputParameters 	 = ${outputLanguageParameters.generateAllOutputParameters(${pathValue}, ${pathOperation})})
##
##
## Produces and consumes
#set($consumes		     = ${outputLanguageConsumesProduces.generateInboundServerContentType(${pathValue}, ${pathOperation})})
#set($produces		     = ${outputLanguageConsumesProduces.generateOutboundServerContentType(${pathValue}, ${pathOperation})})
##
##
#parse(${MethodCommentsJavaTemplate})
	@${pathOperation}
	@Path(value = "${pathValue}")
#if(${consumes})
	@Consumes(value=${consumes})
#end
#if(${produces})
	@Produces(value=${produces})
#end
	public abstract ${returnTypeField} ${operationId}(${outputParameters.getParametersHeaderRest()}) ;

