## Include the macros files
#parse(${CommonJavaMacros})
#parse(${FillRandomlyJavaMacros})
	public void fillRandomly(int maxArraySize, boolean clear, int currentRecursiveCall, int maxRecursiveCalls)
	{
		if (clear)
		{
			this.clear() ;
		}

	    currentRecursiveCall++ ;
		java.util.Random rnd = new java.util.Random() ;
		
		if (currentRecursiveCall < maxRecursiveCalls)
		{
#foreach($attribute in $attributes)
#set($suffixMethodName = ${outputLanguageNaming.suffixMethodName(${attribute.name})})
#if ($attribute.class.simpleName == "ItemSimpleBoolean" || $attribute.class.simpleName == "ItemSimpleInteger" || $attribute.class.simpleName == "ItemSimpleLong"   ||
	 $attribute.class.simpleName == "ItemSimpleFloat"   || $attribute.class.simpleName == "ItemSimpleDouble"  || $attribute.class.simpleName == "ItemSimpleString" ||
     $attribute.class.simpleName == "ItemSimpleFloat"   || $attribute.class.simpleName == "ItemRef"			  || $attribute.class.simpleName == "ItemComplex")
##
#set($isSimpleTypeOneDim = ${outputLanguageItems.isSimpleType(${attribute})})
#set($baseTypeOneDim     = ${outputLanguageItems.getFullTypeOutput(${attribute})})
#set($randomMethodOneDim = "#randomMethodGenerator(${attribute.class.simpleName} '' 'maxArraySize' 'clear' 'currentRecursiveCall' 'maxRecursiveCalls')")
##
#generateOneDimensionFillRandom($suffixMethodName $isSimpleTypeOneDim $baseTypeOneDim $randomMethodOneDim)
##
#elseif ($attribute.class.simpleName == "ItemArray")
##
#set($typeBaseArray     = ${outputLanguageItems.calculateBaseType(${attribute})})
#set($isSimpleTypeArray = ${outputLanguageItems.isSimpleType(${typeBaseArray})})
#set($depthArray 	    = ${outputLanguageItems.calculateDepth(${attribute})})
#set($outputTypeArray   = "${outputLanguageItems.getTypeBaseArray(${attribute})}")
#set($randomMethodArray = "#randomMethodGenerator(${typeBaseArray.class.simpleName} '' 'maxArraySize' 'clear' 'currentRecursiveCall' 'maxRecursiveCalls')")
##
## Call the macro with the array parameters
#generateArrayFillRandom($suffixMethodName $isSimpleTypeArray $depthArray $outputTypeArray $randomMethodArray 'currentRecursiveCall')
##
#end
#end
		}
	}