/*
* "Licensed to the Apache Software Foundation (ASF) under one or more contributor license agreements;
* and to You under the Apache License, Version 2.0. "
*/
.commonButton
{
	text-transform: capitalize !important ;
}

.logsButton
{
	max-width: 150px ;
	max-height: 50px ;
}

.openExampleButton
{
	margin-right:20px ;
} 