<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:osgi="http://www.springframework.org/schema/osgi"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/osgi
       					   http://www.springframework.org/schema/osgi/spring-osgi.xsd">

	<osgi:service interface="${restHandlerInterfaceFullPackage}" ref="restServiceImplRest">
	    <osgi:service-properties>
				<entry key="org.apache.cxf.rs.httpservice.context" value="${outputLanguageGeneratorParams.getOsgiCxfContext()}" />
				<entry key="org.apache.cxf.rs.address" 			   value="${outputLanguageGeneratorParams.getOsgiCxfAddress()}" />
				<entry key="service.exported.interfaces" 		   value="*" />
				<entry key="service.exported.intents" 			   value="HTTP" />
				<entry key="service.exported.configs" 			   value="org.apache.cxf.rs" />
				<entry key="org.apache.cxf.rs.provider">
					<list>
						<value>org.apache.cxf.rs.security.cors.CrossOriginResourceSharingFilter</value>
						<value>org.codehaus.jackson.jaxrs.JacksonJsonProvider</value>
					</list>
				</entry>
		</osgi:service-properties>
	</osgi:service>
    
    <osgi:reference id="restListenerOsgiService" interface="${restListenerInterfaceFullPackage}" />
</beans>
