## Operation identifier
#set($operationId      		  = ${outputLanguageOperations.getOperationId(${pathValue}, ${pathOperation})})
##
##
## Return type
#set($outboundServerType      = ${outputLanguageItems.getOutboundServerItemType(${pathValue}, ${pathOperation})})
#set($outboundServerTypeField = ${outputLanguageItems.getFullTypeOutput(${outboundServerType.item})})
##
##
	/**
	 * Successful call
	 */
	${operationId}(#if (${outboundServerTypeField} != "void")outcome: ${outboundServerTypeField}#end)
	{
#if (${outboundServerTypeField} == "void")	
		printOutcomeNoOutcome("${operationId}") ;
#else
		printOutcome("${operationId}", outcome) ;
#end
	}

	/**
	 * Validation Error call
	 */
	${operationId}ValidationError(error: string)
	{
		printOutcome("${operationId}ValidationError", error) ;
	}	

	/**
	 * Http Error call
	 */
	${operationId}HttpError(error: Error)
	{
		printOutcome("${operationId}HttpError", JSON.stringify(error,null, 4)) ;
	}

