## Operation identifier
#set($operationId        = ${outputLanguageOperations.getOperationId(${pathValue}, ${pathOperation})})
##
##
## Return type
#set($returnType         = ${outputLanguageItems.getOutboundServerItemType(${pathValue}, ${pathOperation})})
#set($returnTypeField    = ${outputLanguageItems.getFullTypeOutput($returnType.item)})
##
##
## Output parameters
#set($outputParameters 	 = ${outputLanguageParameters.generateAllOutputParameters(${pathValue}, ${pathOperation})})
##
##
#parse(${MethodCommentsJavaTemplate})
	public #if (${returnTypeField} == "byte[]")ResponseEntity<InputStreamResource> #else${returnTypeField} #end${operationId}(${outputParameters.getParametersHeader()}) ;

