## Operation identifier
#set($operationId      = ${outputLanguageOperations.getOperationId(${pathValue}, ${pathOperation})})
##
##
## Return type
#set($returnType       = ${outputLanguageItems.getOutboundServerItemType(${pathValue}, ${pathOperation})})
#set($returnTypeField  = ${outputLanguageItems.getFullTypeOutput($returnType.item)})
##
##
	/**
	 * Successful call
	 */
	void ${operationId}(#if (${returnTypeField} != "void")final ${returnTypeField} outcome#end) ;

	/**
	 * Validation Error call
	 * @param errorString with the error string
	 */
	void ${operationId}ValidationError(final String errorString) ;

	/**
	 * Http Error call
	 * @param status with the code of the status error
	 */
	void ${operationId}HttpError(final int status) ;

