/*
* "Licensed to the Apache Software Foundation (ASF) under one or more contributor license agreements;
* and to You under the Apache License, Version 2.0. "
*/
.myDialogClass
{
    min-height: 300px ;
    min-width: 500px ;
}

.contactUsDialogClass
{
	width:45% ;
	height:45% ;
}