## Operation identifier
#set($operationId      = ${outputLanguageOperations.getOperationId(${pathValue}, ${pathOperation})})
##
##
## Return type
#set($returnType       = ${outputLanguageItems.getOutboundServerItemType(${pathValue}, ${pathOperation})})
#set($returnTypeField  = ${outputLanguageItems.getFullTypeOutput($returnType.item)})
##
##
## Common Exceptions
#set($commonException  = ${outputLanguageExceptions.getCommonException()}) 
##
## Custom Exceptions
#set($customExceptions = ${outputLanguageExceptions.getCustomExceptionsList(${pathValue}, ${pathOperation})})
##
	/**
	 * Successful call
	 */
	default public void ${operationId}(#if (${returnTypeField} != "void")final ${returnTypeField} outcome#end)
	{
		throw new NoSuchMethodError("The listener operation '${operationId}' was not implemented") ;
	}

	/**
	 * Common error call - ${commonException.getAsClassName()}
	 * @param commonException with the common exception
	 */
	default public void ${commonException.getAsMethodName(${operationId})}(final ${commonException.getAsClassName()} outcome)
	{
		throw new NoSuchMethodError("The listener operation '${commonException.getAsMethodName(${operationId})}' was not implemented") ;	
	}
#foreach($customException in $customExceptions)
#set($customExceptionTypeField = ${outputLanguageItems.getFullTypeOutput($customException.getResponseItem())})

	/**
	 * Custom exception call - ${customException.getAsMethodName()}
	 */
	default public void ${customException.getAsMethodName()}(#if (${customExceptionTypeField} != "void")final ${customExceptionTypeField} outcome#end)
	{
		throw new NoSuchMethodError("The listener operation '${customException.getAsMethodName()}' was not implemented") ;	
	}

#end

