##
## ---------------- Maven Command Models Call --------------------
##
##
#macro(mvnCommandModels)
mvn install:install-file -Dfile=${projectArtifactId}-model/target/${projectArtifactId}-model-${projectVersion}.jar -DpomFile=${projectArtifactId}-model/pom.xml -Dsources=${projectArtifactId}-model/target/${projectArtifactId}-model-${projectVersion}-sources.jar -Dpackaging=jar
#end
##
##
## ---------------- Maven Command Interface Call -----------------
##
##
#macro(mvnCommandInterfaces)
mvn install:install-file -Dfile=${projectTranslatorType}/${projectArtifactId}-${projectTranslatorType}-rest-interfaces/target/${projectArtifactId}-${projectTranslatorType}-rest-interfaces-${projectVersion}.jar -DpomFile=${projectTranslatorType}/${projectArtifactId}-${projectTranslatorType}-rest-interfaces/pom.xml -Dsources=${projectTranslatorType}/${projectArtifactId}-${projectTranslatorType}-rest-interfaces/target/${projectArtifactId}-${projectTranslatorType}-rest-interfaces-${projectVersion}-sources.jar -Dpackaging=jar
#end
##
##
## ------------ Maven Command Implementation Call ----------------
##
##
#macro(mvnCommandImplementation)
mvn install:install-file -Dfile=${projectTranslatorType}/${projectArtifactId}-${projectTranslatorType}-rest-impl/target/${projectArtifactId}-${projectTranslatorType}-rest-impl-${projectVersion}.jar -DpomFile=${projectTranslatorType}/${projectArtifactId}-${projectTranslatorType}-rest-impl/pom.xml -Dsources=${projectTranslatorType}/${projectArtifactId}-${projectTranslatorType}-rest-impl/target/${projectArtifactId}-${projectTranslatorType}-rest-impl-${projectVersion}-sources.jar -Dpackaging=jar
#end